<style type="text/css">
body{
	background-color: gray;
}
a:hover{background:url('http://www.addglitter.com/link-sparkle.gif');}
hr{background-image:url('http://www.addglitter.com/link-sparkle.gif'); }
</style><br />


<table width="780" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	  <tr>
    <td colspan="2" align="left" valign="top">
    	<table width="780" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="506" align="left" valign="top"><table width="506" border="0" cellspacing="0" cellpadding="0" >
          <tr>
            <td align="left" valign="top" style="padding-top:13px; padding-left:17px; padding-bottom:11px;"><%= link_to logo,root_path%></td>
          </tr>
          
          <tr>
            <td align="left" valign="top"><table width="506" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="180" align="left" valign="top"><%= image_tag "images2/index_08.gif", :size => "180x202" %></td>
                <td width="326" align="left" valign="top"><%= image_tag "images2/index_09.gif", :size => "326x202" %></td>
              </tr>
            </table></td>
            </tr>
             </table></td>
 <td width="506"  align="left" valign="top" class="cas" >
 	
    <table class="a" width="116" border="0" align="center" cellpadding="0" cellspacing="0">  
    	          
          <tr>
            <td align="left" valign="top" class="menu"><%= link_to "Home", root_path %></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="menu"><a href="/pages/2">About us</a></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="menu"><a href="/pages/3">Academics</a></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="menu"><a href="/pages/6">Facilities</a></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="menu"><a href="/pages/10">Careers</a></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="menu"><%= link_to "Contacts",contacts_path %></td>
          </tr>
        <tr>
            <td align="left" valign="top" class="menu"><a href="/pages/12">Others</a></td>
          </tr>
            </table></td>
      </tr>
    </table></td>
  </tr>
   <tr>
    <td colspan="2" align="left" valign="top" style="padding-top:18px; padding-bottom:22px; padding-left:20px;"><table width="740" border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td width="524" align="left" valign="top"><table width="520" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top"><table width="95%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2" align="left" valign="top" style="padding-bottom:16px;"><%= image_tag "images2/index_17.gif", :size => "303x22" %></td>
              </tr>
              <tr>
                <td colspan="2" align="left" valign="top" class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam quis turpis eu libero varius vestibulum. In feugiat. Sed et turpis ac risus aliquet rhoncus. Nam cursus molestie metus. Aliquam ac neque nec leo condimentum lobortis.</td>
              </tr>
              <tr>
                <td width="79%" align="left" valign="top" style="padding-top:20px; padding-bottom:16px;"><table width="94%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="left" valign="top" class="textback"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
                  </tr>
                  <tr>
                    <td align="left" valign="top" class="textback">Nullam quis turpis eu libero varius vestibulum.</td>
                  </tr>
                  <tr>
                    <td align="left" valign="top" class="textback">In feugiat. Sed et turpis ac risus aliquet rhoncus.</td>
                  </tr>
                </table></td>
                <td width="21%" align="left" valign="top"><%= image_tag "animated-gifs-school-08.gif", :size => "112x110" %></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="99%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2" align="left" valign="top" style="padding-bottom:22px;"><%= image_tag "images2/index_45.gif", :size => "211x22" %></td>
              </tr>
              <tr>
                <td colspan="2" align="left" valign="top" class="text" style="padding-right:28px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam quis turpis eu libero varius vestibulum. In feugiat. Sed et turpis ac risus aliquet rhoncus. Nam cursus molestie metus. Aliquam ac neque nec leo condimentum lobortis.<br />
                  <br />
                  <div class="text" style="padding-bottom:15px;"><a href="content.html">learn more</a></div></td>
              </tr>
              <tr>
                <td width="47%" align="left" valign="top"><%= image_tag "images2/index_57.gif", :size => "255x103" %></td>
                <td width="53%" align="right" valign="top"><%= image_tag "images2/index_59.gif", :size => "255x103" %></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="216" align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F1F1F3">
          <tr>
            <td width="5%" align="left" valign="top"><%= image_tag "images2/index_12.gif", :size => "12x12" %></td>
            <td width="91%" align="left" valign="top">&nbsp;</td>
            <td width="4%" align="right" valign="top"><%= image_tag "images2/index_14.gif", :size => "12x12" %></td>
          </tr>
          <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td align="left" valign="top"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td align="right" valign="top" style="padding-top:16px; padding-bottom:22px;"><table width="95%" border="0" align="right" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="right" valign="top" style="border-bottom:1px solid #E13000; padding-bottom:4px;"><%= image_tag "images2/index_23.gif", :size => "150x23" %></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
              </tr>
            </table></td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="bottom"><%= image_tag "images2/index_62.gif", :size => "12x12" %></td>
            <td align="left" valign="top" style="padding-bottom:52px;"><table width="96%" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td width="42%" align="left" valign="top"><%= image_tag "images2/index_30.gif", :size => "60x65" %></td>
                <td width="58%" align="left" valign="top" class="righttext" style="padding-bottom:22px;"><span style="color:#096A9C;"><strong>Lorem ipsum</strong></span><br />
                  Solor sit amet, consectetuer adipi lobortis.<br />
<br />
<a href="content.html">learn more </a></td>
              </tr>
              <tr>
                <td align="left" valign="top"><%= image_tag "images2/index_49.gif", :size => "61x54" %></td>
                <td align="left" valign="top" class="righttext" style="padding-bottom:16px;"><span style="color:#096A9C;"><strong>Lorem ipsum</strong></span><br />
                  Solor sit amet, consectetuer adipi lobortis.<br />
<br />
<a href="content.html">learn more</a></td>
              </tr>
              <tr>
                <td align="left" valign="top"><%= image_tag "images2/index_54.gif", :size => "56x71" %></td>
                <td align="left" valign="top" class="righttext"><span style="color:#096A9C;"><strong>Lorem ipsum</strong></span><br />
                  Solor sit amet, consectetuer adipi lobortis.<br />
<br />
<a href="content.html">learn more</a></td>
              </tr>
            </table></td>
            <td align="right" valign="bottom"><%= image_tag "images2/index_63.gif", :size => "12x12" %></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="263" align="center" valign="top" bgcolor="#616C7C" class="copyright" style="border-right:1px solid #FFFFFF; padding-top:21px;">Copyright &copy; 2012 Kunal Infotech Pvt. Lmtd.<br /> 
    All Rights Reserved.</td>
    <td width="517" align="center" valign="top" bgcolor="#F1F1F3" style=" background-repeat:repeat-x; background-position:top; padding-top:26px; padding-bottom:17px;"><%= image_tag "images2/index_69.gif" %><pre class="footer"><%= link_to "Home", root_path %>   |   <a href="/pages/2">About us</a>   |   <a href="content.html">Site map</a>   |   <a href="/pages/3">Academics</a>   |<br />   <a href="content.html">News and Events</a>   |   <a href="content.html">Athletics</a></pre></td>
  </tr>
</table>