<style type="text/css">
body{
	background-color: gray;
}
a:hover{background:url('http://www.addglitter.com/link-sparkle.gif');}
hr{background-image:url('http://www.addglitter.com/link-sparkle.gif'); }
</style><br />
<table width="780" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	  <tr>
    <td colspan="2" align="left" valign="top"><table width="780" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="506" align="left" valign="top" height="40"><table width="506" border="0" cellspacing="0" cellpadding="0" >
          <tr>
            <td align="left" valign="top" style="padding-top:13px; padding-left:17px; padding-bottom:11px;"><%= link_to logo,root_path%></td>
          </tr>
          
          <tr>
            <td align="left" valign="top"><table width="506" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="180" align="left" valign="top"><%= image_tag "images2/index_08.gif", :size => "180x202" %></td>
                <td width="326" align="left" valign="top"><%= image_tag "images2/index_09.gif", :size => "326x202" %></td>
              </tr>
            </table></td>
            </tr>
             </table></td>
 <td width="274" align="left" valign="top" class = "cas">
    <table width="116" border="0" align="center" cellpadding="0" cellspacing="0">             
          <tr>
            <td align="left" valign="top" class="menu"><%= link_to "Home", root_path %></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="menu"><a href="/pages/2">About us</a></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="menu"><a href="/pages/3">Academics</a></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="menu"><a href="/pages/6">Facilities</a></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="menu"><a href="/pages/10">Careers</a></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="menu"><%= link_to "Contacts",contacts_path %></a></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="menu"><a href="/pages/12">Others</a></td>
          </tr>
            </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top" style="padding-top:18px; padding-bottom:22px; padding-left:20px;"><table width="740" border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td width="524" align="left" valign="top"><table width="96%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top" class="heading" style="padding-bottom:8px;"></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce adipiscing consequat varius. Nulla sed semper neque. Maecenas eu sodales purus. Maecenas aliquam tellus eu risus consectetur lobortis. Nunc dapibus laoreet egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse auctor rutrum mollis. Vivamus quis nisl in lacus posuere iaculis. Duis eu mattis sem. Praesent sit amet dui justo.

Curabitur sapien ante, consectetur ac iaculis non, dignissim id lorem. Donec suscipit felis id metus iaculis rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nisi nunc, interdum quis lobortis gravida, convallis eu libero. Pellentesque vitae lacus nec odio ultricies pulvinar in at nibh. Donec felis neque, porttitor vel ullamcorper sagittis, euismod sit amet arcu. Donec vitae arcu tellus, sed eleifend libero. Nullam accumsan, lorem quis malesuada commodo, tellus elit tristique metus, in lacinia lacus velit ut erat. Ut laoreet quam quis urna venenatis vestibulum. Donec sit amet metus mauris, non varius mi. Aenean molestie congue magna, id tempor quam rhoncus a. Nulla eget dui lorem, vitae porttitor felis. In at rutrum augue.

Etiam eleifend ultrices enim, in commodo enim volutpat hendrerit. Etiam lobortis turpis at augue fermentum commodo. Ut ornare tortor sit amet erat rhoncus varius. Donec tempor libero sed tellus condimentum eleifend iaculis erat egestas. Morbi semper lectus sed arcu tempus dapibus ut a ipsum. Duis tellus leo, consectetur ac laoreet in, feugiat a sapien. Suspendisse cursus pellentesque tortor nec luctus. Pellentesque eu magna eu odio varius tincidunt eu non eros. Mauris posuere nisl id risus pharetra sit amet pretium lorem luctus.

Nullam vulputate, diam et luctus rhoncus, ligula ante aliquet justo, nec hendrerit magna lacus sit amet arcu. Cras eget nunc est. Mauris vehicula posuere eleifend. Cras bibendum metus eget orci fringilla ultrices. Donec tempus ipsum commodo orci eleifend fermentum. Mauris eget ullamcorper leo. Morbi ornare facilisis urna, non commodo tellus dapibus quis. Quisque a mauris odio, quis ullamcorper ante. Sed felis ligula, fringilla rhoncus hendrerit in, aliquam id mi. Nam quis est id eros imperdiet sollicitudin ut rhoncus purus. Sed id sem enim. Integer tortor enim, rhoncus id aliquam ac, tincidunt sed velit. Aliquam fringilla orci sed mauris pretium iaculis tincidunt risus ultricies. Donec convallis eros pretium lacus sollicitudin ut euismod velit placerat. Vivamus viverra pretium velit, eget ultricies erat auctor vel. Curabitur rhoncus augue sit amet arcu pellentesque placerat.

Donec at diam metus, vel lacinia orci. Morbi metus libero, sagittis ut tincidunt sit amet, venenatis id justo. Maecenas ac quam massa, vel dignissim turpis. Integer vel feugiat quam. Quisque tempor est a lectus tempus et cursus elit feugiat. Donec quis massa nec metus tincidunt vehicula. Donec ultrices commodo mauris sed pharetra. Nunc velit mi, aliquam sit amet dictum sit amet, mattis quis enim.

Aenean vel magna augue, non facilisis quam. Vestibulum lobortis lacinia neque eu mollis. Nam pharetra mauris id leo dictum convallis. Mauris eget libero ac orci ullamcorper sollicitudin. In mollis, eros sed euismod sagittis, metus arcu viverra mauris, sit amet pulvinar tellus turpis ut metus. Nam vel massa a arcu porta gravida sit amet sit amet justo. Aenean ac diam vel magna tempor sollicitudin eget vitae sem. Praesent eu sem sit amet felis placerat volutpat vitae vitae felis. Nam et sodales orci. Cras non nibh felis, at porta mi. Quisque a lectus odio, id mattis neque. Suspendisse dignissim blandit leo eu tempus.

Donec pharetra, nibh nec rhoncus accumsan, risus turpis elementum justo, nec ultricies elit velit sit amet enim. Suspendisse rutrum venenatis leo ut iaculis. Maecenas tristique, diam quis dapibus sodales, sapien justo porttitor metus, vel tempor nisl lacus pharetra sapien. Cras consequat hendrerit massa sed feugiat. Fusce eget sem neque. Etiam nec nibh augue, at mollis magna. Suspendisse tincidunt hendrerit orci, at laoreet eros posuere nec. In ullamcorper, magna et eleifend faucibus, lectus metus imperdiet velit, at ultrices ante sem vel elit. Praesent ut arcu pulvinar magna varius condimentum quis ac quam. Donec at libero magna. Vestibulum scelerisque lectus nisl, ac posuere dui. Pellentesque eu turpis quis felis placerat bibendum non id purus. Pellentesque dolor est, auctor ornare vehicula sed, dapibus id leo. Vestibulum hendrerit massa a urna blandit aliquet.

Donec sed magna non odio sodales elementum sit amet et velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec purus sapien, dapibus et elementum a, tristique gravida enim. Sed eget enim at justo euismod feugiat sed placerat magna. Nullam risus massa, luctus eu commodo in, commodo eget nisl. Donec ut sem sit amet elit consectetur mattis a quis velit. Donec erat nunc, accumsan sit amet sollicitudin dapibus, dapibus faucibus libero. Suspendisse potenti. Duis eros augue, imperdiet non tincidunt eget, elementum sit amet quam. Praesent diam leo, hendrerit id elementum id, bibendum in dui. Sed malesuada lacinia felis in accumsan. Aliquam tempor faucibus tempus.

In hac habitasse platea dictumst. Mauris et turpis id dui bibendum posuere. Suspendisse sit amet leo at magna ultrices facilisis. Sed accumsan, nunc at sagittis consequat, dolor metus convallis nisi, id vestibulum erat dui ut erat. Suspendisse metus lacus, commodo at pulvinar in, vehicula et quam. Sed cursus enim quis est porta tempor. Donec sed ante sed massa porta porta. Nullam interdum velit nec felis blandit mattis. Quisque ultricies vulputate faucibus. Sed et ultricies erat. Fusce dictum pharetra vehicula. Vestibulum sed arcu eros, ut iaculis elit. Donec ut orci augue, ut vestibulum leo. Vestibulum sem dui, rhoncus ut viverra quis, ullamcorper sed urna. Phasellus ac metus est, quis viverra tortor. Cras dolor libero, fringilla quis pulvinar quis, aliquet quis nisi.

Fusce ornare, neque ac tincidunt rhoncus, odio sem ullamcorper neque, in rhoncus dolor nulla quis diam. Aliquam erat volutpat. Maecenas vulputate tincidunt sem vel venenatis. Vestibulum commodo, nisl eget tincidunt imperdiet, lacus nibh porta dui, non consequat nulla dui tincidunt dolor. Etiam cursus urna non massa consequat luctus. Phasellus in elit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 

<a href="content.html"></a></td>
          </tr>
        </table></td>
        <td width="216" align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F1F1F3">
          <tr>
            <td width="5%" align="left" valign="top"><%= image_tag "images2/index_12.gif", :size => "12x12" %></td>
            <td width="91%" align="left" valign="top">&nbsp;</td>
            <td width="4%" align="right" valign="top"><%= image_tag "images2/index_14.gif", :size => "12x12" %></td>
          </tr>
          <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td align="left" valign="top"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td align="right" valign="top" style="padding-top:16px; padding-bottom:22px;"><table width="95%" border="0" align="right" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="right" valign="top" style="border-bottom:1px solid #E13000; padding-bottom:4px;"><%= image_tag "images2/index_23.gif", :size => "150x23" %></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
              </tr>
            </table></td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="bottom"><%= image_tag "images2/index_62.gif", :size => "12x12" %></td>
            <td align="left" valign="top" style="padding-bottom:52px;"><table width="96%" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td width="42%" align="left" valign="top"><%= image_tag "images2/index_30.gif", :size => "60x65" %></td>
                <td width="58%" align="left" valign="top" class="righttext" style="padding-bottom:22px;"><span style="color:#096A9C;"><strong>Lorem ipsum</strong></span><br />
                  Solor sit amet, consectetuer adipi lobortis.<br />
<br />
<a href="content.html">learn more </a></td>
              </tr>
              <tr>
                <td align="left" valign="top"><%= image_tag "images2/index_49.gif", :size => "61x54" %></td>
                <td align="left" valign="top" class="righttext" style="padding-bottom:16px;"><span style="color:#096A9C;"><strong>Lorem ipsum</strong></span><br />
                  Solor sit amet, consectetuer adipi lobortis.<br />
<br />
<a href="content.html">learn more</a></td>
              </tr>
              <tr>
                <td align="left" valign="top"><%= image_tag "images2/index_54.gif", :size => "56x71" %></td>
                <td align="left" valign="top" class="righttext"><span style="color:#096A9C;"><strong>Lorem ipsum</strong></span><br />
                  Solor sit amet, consectetuer adipi lobortis.<br />
<br />
<a href="content">learn more</a></td>
              </tr>
            </table></td>
            <td align="right" valign="bottom"><%= image_tag "images2/index_63.gif", :size => "12x12" %></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="263" align="center" valign="top" bgcolor="#616C7C" class="copyright" style="border-right:1px solid #FFFFFF; padding-top:21px;">Copyright &copy; 2012 Kunal Infotech Pvt. Lmtd.<br /> 
    All Rights Reserved.</td>
    <td width="517" align="center" valign="top" bgcolor="#F1F1F3" style=" background-repeat:repeat-x; background-position:top; padding-top:26px; padding-bottom:17px;"><%= image_tag "images2/index_69.gif" %><pre class="footer"><%= link_to "Home", root_path %>   |   <a href="/pages/2">About us</a>   |   <a href="content.html">Site map</a>   |   <a href="/pages/3">Academics</a>   |<br />   <a href="content.html">News and Events</a>   |   <a href="content.html">Athletics</a></pre></td>
  </tr>
</table>




